@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}


body{
  background: #333;
}
.bored-content{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bored-content h1{
  color: rgb(255, 255, 255);
  margin: 20px auto;
  font-weight: 900;
  text-shadow:  0px 5px 5px rgb(2, 1, 1);

}
.bored-content button{
  padding: 20px 40px ;
  background:linear-gradient(rgba(184, 206, 182, 0.4),rgba(128, 143, 101, 0.733));
  color:#fff ;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.658);
  cursor: pointer;
  transform: scale(1);
  outline: none;
  border: none;
  transition: .3s;
  flex-wrap: wrap;
  margin-bottom: 5%;
  user-select: none;
  font-weight: 700;
}
.bored-content button:hover{
  transform: scale(.9);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background:linear-gradient(rgba(128, 167, 125, 0.4),rgba(77, 97, 41, 0.733));
}
.bored-content h2{
  color: #fff;
  text-shadow:  0px 5px 5px rgb(2, 1, 1);
}
.joke{
  display: flex;
  margin: 10% auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.joke button{
  padding: 20px 40px ;
  background:linear-gradient(rgba(26, 255, 0, 0.4),rgba(83, 94, 63, 0.733));
  color:#fff ;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.658);
  cursor: pointer;
  transform: scale(1);
  outline: none;
  border: none;
  transition: .3s;
  flex-wrap: wrap;
  margin-bottom: 10%;
  user-select: none;
  font-weight: 700;
}
.joke marquee{
  width: 40%;
  overflow: hidden;
  color: #fff;
  margin-bottom: 10px;
}
.joke input{
  width: 40%;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}
.joke button:hover{
  transform: scale(.9);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background:linear-gradient(rgba(69, 88, 33, 0.795),rgba(17, 90, 9, 0.884));
}
.joke h1{
  color: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  font-weight: 900;
  text-shadow:  0px 5px 5px rgb(2, 1, 1);
}
.joke h2{
  color: #fff;
  text-shadow:  0px 5px 5px rgb(2, 1, 1);
}
.joke footer{
  position: absolute;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.644);
}

@media(max-width:900px){

  .joke button{
    padding: 15px 30px ;
    background:linear-gradient(rgba(26, 255, 0, 0.4),rgba(83, 94, 63, 0.733));
    color:#fff ;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.658);
    cursor: pointer;
    transform: scale(1);
    outline: none;
    border: none;
    transition: .3s;
    flex-wrap: wrap;
    margin-bottom: 10%;
    user-select: none;
    font-weight: 700;
  }
  .joke marquee{
    width: 100%;
    overflow: hidden;
    color: #fff;
    margin-bottom: 10px;
  }
  .joke input{
    width: 90%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
  }
  .joke button:hover{
    transform: scale(.9);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    background:linear-gradient(rgba(69, 88, 33, 0.795),rgba(17, 90, 9, 0.884));
  }
  .joke h1{
    color: #fff;
    width: 100%;
    margin: auto;
    text-shadow:  0px 5px 5px rgb(2, 1, 1);
    line-height: 50px;
  }
  .joke footer{
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.644);
  }
  
}



.navbar{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 50px;
  background: #000;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li{
  list-style: none;
  padding: 2px 10px;
  font-size: 1rem;
  background: rgba(138, 138, 138, 0.301);
  border-radius: 10px;
  margin: 5px;
}


#textform{
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
nav{
  position: relative;
  object-fit: scale-down;
  overflow: hidden;
}
.nav-img{
  position: relative;
  max-width: 40px;
  max-height: 40px;
  border-radius: 10px;
  margin: 0 5px;
  
}




/*-------------------------Guess The Number------------------------------------*/

.guess{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.guess .play_btn{
  padding: 20px 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.4);
  margin: 20px;
  transition: .3s;
  font-size: 1.4rem;
  font-weight: 900;
}
.guess .play_btn:hover{
  box-shadow: 0px 0 5px 3px rgba(255, 255, 255, 0.342);
}
.guess_inp{
  height: 40px;
  width: 30%;
  border-radius: 20px;
  text-align: center;
  border: none;
  outline: none;
  scroll-snap-type: none;
  font-weight: 900; 
  font-size: 1.2rem;

}
.guess h1{
  color: #fff;
  text-shadow: 5px 5px 5px #000;
}
.guess .pres_prev{
  color: rgba(240, 255, 255,0.7 );
}
.h1success{
  color: rgb(0, 252, 42);
}
.guess h3{
  margin-top: 20px;
  color: #fff;
  text-shadow: 5px 5px 5px #000;
}
::-webkit-scrollbar{
  display: none;
}

@media(max-width:900px){
  
  .navbar{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 5px 0;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    background: #000;
  }
  .nav-links{
    display: flex;
    justify-content: left;
    padding: 10px;
    margin:0  5px;
    overflow-y: scroll;
    align-items: center;
  }
  li{
    list-style: none;
    padding: 3px 10px;  
    background: rgba(138, 138, 138, 0.164);
    border-radius: 10px;
    margin: 5px;
    font-size: 1rem;
  }


  #textform{
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  nav{
    position: relative;
    object-fit: scale-down;
    overflow: hidden;
  }
  .nav-img{
    position: relative;
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
    margin: 0 5px;
    
  }

  .bored-content{
    display: flex;
    height: 60vh;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bored-content h1{
    color: rgb(255, 255, 255);
    margin: 20px auto;
    font-weight: 900;
    text-shadow:  0px 5px 5px rgb(2, 1, 1);

  }
  .bored-content button{
    padding: 20px 40px ;
    background:linear-gradient(rgba(184, 206, 182, 0.4),rgba(128, 143, 101, 0.733));
    color:#fff ;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.658);
    cursor: pointer;
    transform: scale(1);
    outline: none;
    border: none;
    transition: .3s;
    flex-wrap: wrap;
    margin-bottom: 5%;
    user-select: none;
    font-weight: 700;
  }
  .bored-content button:hover{
    transform: scale(.9);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    background:linear-gradient(rgba(128, 167, 125, 0.4),rgba(77, 97, 41, 0.733));
  }
  .bored-content h2{
    color: #fff;
    text-shadow:  0px 5px 5px rgb(2, 1, 1);
  }

  .guess{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 10px;
    flex-wrap: wrap;
    overflow: scroll;
  }
  .guess .play_btn{
    padding: 20px 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.4);
    margin: 20px;
    transition: .3s;
    font-size: 1.4rem;
    font-weight: 900;
  }
  .guess .play_btn:hover{
    box-shadow: 0px 0 5px 3px rgba(255, 255, 255, 0.342);
  }
  .guess_inp{
    height: 40px;
    width: 70%;
    border-radius: 20px;
    text-align: center;
    border: none;
    outline: none;
    scroll-snap-type: none;
    font-weight: 900; 
    font-size: 1.2rem;

  }
  .guess h1{
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    font-size: 25px;
    text-align: center;
  }
  .guess .pres_prev{
    color: rgba(240, 255, 255,0.7 );
    text-align: center;
    font-size: 18px;
  }
  .h1success{
    color: rgb(0, 252, 42);
    text-align: center;
  }
  .guess h3{
    margin-top: 20px;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
  }
}

/*-----------------------Snake----water-----gun----------------------*/


.snake_game{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.buttons{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.snake_game button{
  padding: 20px 40px;
  border-radius: 50px;
  margin: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.4);
  transition: .5s;
  font-size: 1.3rem;
  font-weight: 900;
  color: #fff;

}
.snake_game button:hover{
  box-shadow: 0px 0 15px 7px rgba(0, 0, 0, 0.7);
}
.btn1{
  background: orange;
}
.btn2{
  background: rgb(42, 120, 209);
}
.btn3{
  background: red;
}
.snake_game h1{
  color: #fff;
  text-shadow: 5px 5px 5px #000;
}
.snake_game .win{
  color: rgb(0, 252, 42);
}
.snake_game .lose{
  color: rgb(228, 64, 64);
}
.snake_game .tied{
  color: rgb(138, 138, 138);
}

@media(max-width:900px){
  
  .snake_game{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .buttons{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
  }
  .snake_game button{
    padding: 10px 40px;
    border-radius: 50px;
    margin: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.4);
    transition: .5s;
    font-size: 1.2rem;
    font-weight: 900;
    color: #fff;

  }

  .snake_game button:hover{
    box-shadow: 0px 0 7px 5px rgba(0, 0, 0, 0.7);
  }

}

/*------------------------------------------captcha---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.cap-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.cap-container button{
  padding: 5px;
  outline: none;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 3px 3px #111;
}

.captcha{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
}
.inputs{
  display: flex;
  flex-direction: column;
}
.inputs input{
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 5px rgba(2, 1, 1, 0.479);
}
.cap_val{
  /* font-family: 'Architects Daughter', cursive; */
  text-decoration:none ;
  background: rgba(255, 255, 255, 0.815);
  font-weight: 900;
  font-size: 20px;
  user-select: none;
  cursor:pointer;
}
.user{
  background: #000;
  color: #fff;
  text-align: center;
}
.captcha h3{
  color: #fff;
  text-align: center;
  margin: 20px auto;
}
/* -------------------------Logins ------------------------*/
.logins{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
  border-radius: 50px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 17px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=); */
  background-color: white;
  background-repeat: no-repeat;
  background-position: 2px 5px;
  margin: 10px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.logins img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.logins div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*-------------------------------------------------tictactoe-------------------------------------------*/


.tictac{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20% 30%;
}
.tictac .table {
  max-width: 40vh;
  max-height:100vh;
  width:100%;
  height: 100%;
}
tbody{
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  box-shadow: 0 0 15px 10px rgba(2, 1, 1, 0.582);
  border-radius: 10px;
}

/*---------------------------RockPapSci----------------------------*/

.rps_main{
  display: flex;
  height: auto;
  flex-direction: column;
  user-select: none;
}
.rps_main .holder{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}
.rps_main h3{
  padding: 10px;
  background-color: rgba(63, 62, 62, 0);
  border-radius: 10px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.336);
  font-weight: 900;
}

.rps_main #win{
  color: rgb(0, 255, 0);
}
.rps_main #loss{
  color: rgb(255, 0, 0);
}
.rps_main #tie{
  color: rgb(255, 238, 0);
}
.rps_main .play_btn{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5%;
}
.rps_main .play_btn button{
  margin: auto;
  outline: none;
  border: none;
  border-radius: 25px;
  width: 20%;
  padding:15px;
  font-size: 25px;
  background: linear-gradient(rgba(194, 1, 33, 0.685),rgba(24, 20, 36, 0.856));
  color: #fff;
  font-weight: 900;
  transition: .5s;
}
.rps_main .play_btn button:hover{
  background: linear-gradient(rgb(255, 0, 43),rgb(255, 0, 0));
}
.computer{
  display: block;
  color: #ebebeb;
  margin: 2% auto;
  text-align: center;
}
.rps_main .play_area{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

}
.rps_main .play_area button{
  border-radius: 9px;
  outline: none;
  border: none;
  margin: 5%;
  width: 15%;
  padding: 10px;
  font-size: 30px;
  font-weight: 800;
  box-shadow: 0 0 5px 5px rgba(136, 136, 136, 0.479);
  transition: .4s;
}
.rps_main .play_area button:hover{
  box-shadow: 0 0 10px 5px rgba(136, 136, 136, 0.555);
  background: #000;
  color: #fff;
}
.rps_main #view{
  cursor: pointer;
}

@media(max-width:900px){
  .rps_main .play_btn button{
    margin: auto;
    outline: none;
    border: none;
    border-radius: 25px;
    width: auto;
    font-size: 25px;
    background: linear-gradient(rgba(194, 1, 33, 0.685),rgba(24, 20, 36, 0.856));
    color: #fff;
    font-weight: 900;
    transition: .5s;
  }
  .rps_main .play_area button{
    border-radius: 9px;
    outline: none;
    border: none;
    margin:15% 2%;
    width: auto;
    font-size: 23px;
    font-weight: 700;
    box-shadow: 0 0 3px 2px rgba(136, 136, 136, 0.479);
    transition: .4s;
  }
}